.app-body {
  padding-top: 87px;
  padding-bottom: 150px;
  width: 95%;
  margin: auto;
}

.inital-waiting-message-container {
  animation: fade 2.5s linear infinite;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

@keyframes fade {
  50% {
    opacity: 0.1;
  }
}

.inital-waiting-message {
  margin: 10px;
}
