.header-container {
  top: 0px;
  position: fixed;
  background-color: #30231d;
  width: 100%;
  z-index: 1;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  color: #f6f1ed;
  min-width: 700px;
}

.header-title {
  display: inline-block;
}


.header-control-container {
  border: 1px solid white;
  margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-title {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.dropdown-element-title {
  width: 200px;
  display: inline-block;
  margin-bottom: 0;
}

.dropdown-content {
    display: none;
    right: -1px;
    position: absolute;
    background-color: #f2e9e9;
    color: #31231e;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-scrolling,
.dropdown-helpers {
  cursor: pointer;
}
