.round-title {
  font-weight: bold;
  display: inline;
  font-size: 1.2em;
}

.round-container {
  border: 1px black solid;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}

.round-line {
  margin-bottom: 1rem;
}

.round-result-message {
  margin-top: 23px;
  font-size: 1.1em;
}

.helper {
  margin: 5px;
}
